<h1>Edit File Information</h1>

{{#if message}}
	<p>
		{{message}}
	</p>
{{/if}}
<p>
<form action="/{{type}}/edit" method="post">
<img style="margin-left: 80px" src="{{object.Poster}}"/>
</p><p></p>
   Confirm/Enter information below:
</p><p></p>
   Image Unavailable? Check Here
   <input type="checkbox" name="PosterImage" /></p>
   Title:
   <input type="text" name="Title" value="{{object.Title}}"></p>
   Rating:
   <input type="text" name="Rating" value="{{object.Rated}}"></p>
   Popularity:
   <input type="text" name="Popularity" value="{{object.imdbRating}}"></p>
   Year:
   <input type="text" name="Year" value="{{object.Year}}"></p>
   Director:
   <input type="text" name="Director" value="{{object.Director}}"></p>
   Plot:
   <textarea rows="6" cols="100" name="Plot" >{{object.Plot}}</textarea></p>
   <input type="hidden" name="fileName" value="{{object.fileName}}">
   <input type="hidden" name="Poster" value="{{object.Poster}}">
   
   <input type="submit" name="submit" id="navbutton" value="Submit" >
</form>

<form action="/{{type}}/editInfo" method="post">
</p><p></p>
   Not the correct Film?</p>
   Title:
   <input type="text" name="Title" value="{{object.Title}}"></p>
   <input type="hidden" name="fileName" value="{{object.fileName}}">
   
   <input type="submit" name="searchAgain" id="navbutton" value="Search Again" >
</form>