<div class="main">
   <div class = "Main_Content">
      {{#if message}}
	     {{message}}
	  {{/if}}
      <div class = "display_items">
         {{#each feed}}
         <div class = "item_container">
            <div class = "item_image">
               <img src= "/movies/get_image/?image_id={{this.poster_path}}" />
            </div>
		        <form class="" action="/movies/watch" method="post">
		           <input type="hidden" name="item" value="{{this.fileName}}">
               <input type="submit" name="submit" class="hover-text" value="Click to Watch" >
            </form>
<!--             <div class = "vid_title">
               {{this.Title}}
            </div> -->
         </div>
         {{/each}}
      </div>
      <div class = "display_items">
         {{#each customFeed}}
         <div class = "item_container">
            <div class = "item_image">
               <img src= "{{this.Poster}}" />
            </div>
		        <form class="" action="/movies/watch" method="post">
		           <input type="hidden" name="item" value="{{this.fileName}}">
               <input type="submit" name="submit" class="hover-text" value="Click to Watch" >
            </form>
              <div class = "vid_title">
               {{this.Title}}
            </div>
         </div>
         {{/each}}
      </div>
   </div>
</div>

<div class="footer">
   <div class="upload">
      Upload a new File
      <form id="uploadForm" enctype="multipart/form-data" action="upload" method="post">
         Title
         <input type="text" name="Title" placeholder="Title">
         <input type="file" name="userVideo" >
         <input type="submit" value="Upload Video" name="submit">
      </form>
   </div>
</div>

